body {
  background: #F7E7CE;
}
.page {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: 'Robsoto', sans-serif !important;
  font-weight: 300;
}
.ui.container {
  margin-top: -70px;
}
.ui.table tr:nth-child(2) td,
.ui.table tr:nth-child(3) td {
  border-top: 0px !important;
}