/* page transition CSS */
.pt-perspective {
  position: relative;
  width: 100%;
  height: 100%;
  -webkit-perspective: 1200px;
  -moz-perspective: 1200px;
  perspective: 1200px;
}
.pt-page {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  visibility: hidden;
  overflow: hidden;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d;
}
.pt-page-hidden {
  overflow: hidden;
}
.pt-page-ontop {
  z-index: 999;
}
.pt-page-current {
  visibility: visible;
  overflow: visible;
  z-index: 1;
}

/* common CSS */
.ui.segment {
  border-radius: 0px;
}
#main .ui.segment:first-child {
  padding-top: 75px;
  padding-bottom: 50px;
}
#main .ui.colored.segment .ui.icon.header {
  color: #ffffff;
}
#main .ui.colored.segment .ui.icon.header .content {
  font-family: 'Roboto', sans-serif;
}
#main .ui.colored.segment .ui.icon.header .sub.header {
  color: rgba(255,255,255,0.5);
}
#main .ui.segment:nth-child(2) {
  padding-top: 30px;
}
#main .ui.segment:nth-child(3) {
  padding-top: 30px;
  padding-bottom: 30px;
}
#main .ui.segment:nth-child(4) {
  padding-top: 30px;
  padding-bottom: 20px;
}
.ui.segment h3.ui.header {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}
.ui.segment:nth-child(3) h3.ui.header {
  color: rgba(255,255,255,1);
}
.ui.segment:nth-child(3) h3.ui.header .sub.header {
  color: rgba(255,255,255,0.5);
}
.ui.segment:last-child {
  padding-top: 30px;
  padding-bottom: 10px;
}
.ui.inverted.segment:last-child .item {
  color: rgba(255,255,255,0.9);
  font-family: 'Roboto', sans-serif !important;
  font-weight: 300;
  font-size: 12px;
}
.ui.segment:last-child a,
.ui.segment:last-child a:active {
  color: rgba(255,255,255,0.5);
}
.ui.segment:last-child .container:last-child {
  color: rgba(255,255,255,0.5);
  font-family: 'Roboto', sans-serif !important;
  font-weight: 300;
  font-size: 12px;
}
.ui.unstackable.steps i.icon {
  font-size: 1.5em;
}
.ui.unstackable.steps .title {
  font-size: 0.75em;
}
.ui.checkbox label > a,
.ui.checkbox label > a:active {
  color: rgba(0,0,0,0.5);
}
#form .ui.container > .ui.right.aligned.segment {
  padding: 10px 0 0;
}
#form .ui.container > .ui.right.aligned.segment i {
  color: #FFFFFF
}
#mobile {
  display: none;
}